#include "../include/Resources.h"

1	ICON	"..\\resources\cinder_app_icon.ico"
RES_LANDSCAPE_OBJ
RES_TEX_NOISE_SAMPLER
RES_GLSL_ALPHA_RGB_VERT
RES_GLSL_ALPHA_RGB_FRAG
RES_GLSL_BASIC_BLENDER_VERT
RES_GLSL_BASIC_BLENDER_FRAG
RES_GLSL_BLUR_H_VERT
RES_GLSL_BLUR_H_FRAG
RES_GLSL_BLUR_V_VERT
RES_GLSL_BLUR_V_FRAG
RES_GLSL_CUBESHADOW_VERT
RES_GLSL_CUBESHADOW_FRAG
RES_GLSL_DEFER_VERT
RES_GLSL_DEFER_FRAG
RES_GLSL_FXAA_VERT
RES_GLSL_FXAA_FRAG
RES_GLSL_LIGHT_VERT
RES_GLSL_LIGHT_FRAG
RES_GLSL_SSAO_VERT
RES_GLSL_SSAO_FRAG
